
<!DOCTYPE html>
  
<body class="open-menu loaded">

		

		<section role="main">
			    <div class="grid-wrap shuffle grid-home" style="position: relative; height: 5548.5px;">

        <div id="logo-block" class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 0px; left: 0px;">
            <div class="block image img_loaded" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                <img class="resize" src="/assets/logo.png" alt="Logo" title="BLOC Logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
               
            </div>


        </div>

        <header id="intro" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 0px; left: 308.25px;">
            <hgroup class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                <h1>Hi, I'm Jeffery Davis</h1>
                <h2>I am a <em>deicated web developer</em> who has a passion for <em>creativity</em>.</h2>
            </hgroup>
        </header>

        <section id="studio" class="studio ignore-shuffle">

            <header class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 616.5px; left: 0px;">
                <hgroup class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                    <h1>My Projects</h1>
                    <h2>These are a few of the <em>projects</em> I have been working on. I always <em>cater to the client 100%</em>. Always making sure they leave happy.</h2>
                </hgroup>
            </header>
            <div class="pep-wrapper">
                <ul>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 616.5px; left: 616.5px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">

                                                                     <figure class="with-hidden-caption" style= "padding: 15px">
    </br><h2> Testimonial<em>:</em></h2><p>"We contacted Jeff Davis about developing a website for Kinsella-Marsh Group after

we had worked with another company for two weeks that had failed to produce 

anything that was useful to us. We wanted direct access with the individual 

programmer who was developing our website – someone who would give us a 

personal attention, who would work with us in an interactive way and who would 

provide a quick turnaround. Jeff met the challenge and did so at a fair price. 

 

We had an initial website design to review in about a day. Beyond that point we 

explored a variety of ideas/changes/additions that required telephone calls and e-mail 

exchanges with Jeff that occurred at all hours of the day and night. Jeff was eager to 

please and exceptionally responsive. The result was a great website design that was 

ready to go in less than a week. 

 

We are thrilled with Jeff’s performance on our website project and would highly 

recommend him to anyone that is considering his services.

 

Sincerely, 

 

KINSELLA-MARSH GROUP, INC."</p>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 0px; left: 924.75px;">
                            <div class="block image img_loaded ignore-shuffle " style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize" src="/assets/profilepic.png"  alt=" openapparatus website" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">

</figure>                                                             </div>
                        </li>
                                           <a href = "http://www.ameribin.com/" target="_blank"> <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 308.25px; left: 0px;">

                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/ameribin.png"  alt=" ameribin.com website" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
</figure>  </a>                                                           </div>
                        </li>
                                            <a href = "http://ccphotog.com/" target="_blank"><li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 308.25px; left: 924.75px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
  <img class="resize ignore-shuffle" src="/assets/ccphotog.png" alt="ccphotog Website link" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
   
</figure></a>                                                     </div>
                        </li>
                                            <a href = "http://173.254.28.51/~marshpmk/" target="_blank"><li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1233px; left: 0px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/marshpmk.png"  alt=" Marsh PMK Website" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
   
</figure>   </a>                                                          </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 1233px; left: 308.25px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption" style= "padding: 15px">
    </br><h2> Testimonial<em>:</em></h2><p>"My husband and I recently started our own company and were completely overwhelmed with all the tasks ahead of us.  We got to the part of designing and hosting our website.  Never having done this before and knowing what an important part a website plays in a business, I wanted to make sure it wasn't just good, it was great. after I chose Jeff Davis to design our website.  Within 2 weeks I had a beautiful website that I am so proud of.  Jeff and Tanisia were professional, easy to work with, and available when I needed.  They are truly enthusiastic about their work.  I am sincerely thankful I found them.  I would not hesitate to use them again and am happy to share my experience."</br></br></br></br></br></br></br></p>
    
</figure>                                                             </div>
                        </li>
                                            <a href = "https://arcane-plains-4691.herokuapp.com/" target="_blank"><li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1233px; left: 924.75px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/game-manager.png" alt="Game Manager for Cory Davs Game Developer" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">

</figure>    </a>                                                         </div>
                        </li>
                                            <a href = "http://xoisland.com/" target="_blank"><li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1541.25px; left: 0px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/crowdfund.png"  alt="The Island Crowdfund" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    
</figure> </a>                                                            </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1541.25px; left: 924.75px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/bloclogo.png" rel="/assets/yaiba.png" alt="Yaiba Art" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    
</figure>                                                             </div>
                        </li>
                                            <a href = "http://openapparatus.com/" target="_blank"><li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1849.5px; left: 0px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/openapp.png"  alt="Open apparatus Website" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    
</figure>   </a>                                                          </div>
                        </li>
                                            
                                    </ul>
            </div>
        </section><!--/#studio-->

        <section class="team ignore-shuffle" id="team">

            <header class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 2774.25px; left: 0px;">
                <hgroup class="block text-only ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                    <h1>Our team</h1>
                    <h2>I currently have done <em>Projects</em> In all these languages and frameworks. I strive to <em>Learn more</em> everyday.</h2>
                </hgroup>
            </header>

            <ul>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 2466px; left: 924.75px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle ignore-shuffle" src="/assets/css.png"  alt="CSS Logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                
                            </a>
                            <h3><a href="#">CSS/CSS3</a></h3>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 2774.25px; left: 616.5px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle ignore-shuffle" src="/assets/html5.png" rel="/assets/cory.png" alt="HTML 5 logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                
                            </a>
                            <h3><a href="#">HTML/HTML5</a></h3>
                            
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 2774.25px; left: 924.75px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/js.png" alt="js logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                
                            </a>
                            <h3><a href="#">Javascript</a></h3>
                            
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3082.5px; left: 616.5px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/ruby.png" alt="ruby on rails logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                
                            </a>
                            <h3><a href="#">Ruby/Ruby on Rails</a></h3>
                           
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3082.5px; left: 924.75px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/jquery.png"  alt="Richard" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                            </a>
                            <h3><a href="#">Jquery</a></h3>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3390.75px; left: 0px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/wp.png" rel="img/team/gav.jpg" alt="Word Press Logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                
                            </a>
                            <h3><a href="#">Word Press</a></h3>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3390.75px; left: 308.25px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/gh.png"  alt="GitHub Logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                
                            </a>
                            <h3><a href="#">Git/GitHub</a></h3>
                        
                        </figure>
                    </li>
                                    
                            </ul>

        </section><!--/#team-->
        <section class="projects" id="projects">

            <header class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 4932px; left: 0px;">
                <hgroup class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                    <h1>FAQ</h1>
                    <h2>Who <em>am I</em>?</h2>
                </hgroup>
            </header>

            <ul>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 4623.75px; left: 924.75px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>Where did you recieve your <em>education?</em></br>A: In several different locations. Brigham young university, Dev Mountain, and most importantly my home.</h3>
                    </div>
                </li>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 4932px; left: 616.5px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>What <em>inspires</em> you as a web <em>developer</em>?</br> A: The ability to create what ever I want! <em>Creativity</em> is what fuels me.</h3>
                    </div>
                </li>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 4932px; left: 924.75px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>What's your favorite project? </br> A: Probably the one I am working on right now called <em><a href ="http://xoisland.com/">XOIsland.com</a> </em> it encompasses who I am as a person and a developer</em></h3>
                    </div>
                </li>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 5240.25px; left: 616.5px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>What do you like to do?</br><em>I love all Sports</em> I also really like building things out of wood. Tables, Chairs, benches and many other things</h3>
                    </div>
                </li>

            </ul>

        </section>

        <!--/#What-->

<!--/#How-->



    </div>

		</section>

		<nav class="subnav" style="display: none;">
			
					</nav>

		<div class="jobs"><a href="#" data-filter=".jobs">Contact Me!</a></div>

		

		
		<!-- jQuery from Google's CDN with local fallback -->
		</body></html>