
<!DOCTYPE html>
  
<body class="open-menu loaded">

		

		<section role="main">
			    <div class="grid-wrap shuffle grid-home" style="position: relative; height: 5548.5px;">

        <div id="logo-block" class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 0px; left: 0px;">
            <div class="block image img_loaded" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                <img class="resize" src="/assets/bloclogo.png" alt="BLOC Logo" title="BLOC Logo" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                <noscript>&lt;img src="/asssets/bloclogo.png"  alt="BLOC logo" title="Bloc Logo" /&gt;</noscript>
            </div>


        </div>

        <header id="intro" class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 0px; left: 308.25px;">
            <hgroup class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                <h1>Hi, we’re BLOC Academy</h1>
                <h2>A <em>deicated group</em> of educators, who help anyone <em>Find their creativity</em>.</h2></br><%= link_to "Apply", apply_path, class: "btn btn-warning pull-right btn-lg" %><button type="button" class="btn btn-info pull-right btn-lg">Video</button>
            </hgroup>
        </header>

        <section id="studio" class="studio ignore-shuffle">

            <header class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 616.5px; left: 0px;">
                <hgroup class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                    <h1>Our Campus</h1>
                    <h2>We’ve created an environment that <em>fosters enthusiasm</em> and lets everyone work to their full potential.</h2>
                </hgroup>
            </header>
            <div class="pep-wrapper">
                <ul>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 616.5px; left: 616.5px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize" src="/assets/awk.png" rel="/img/studio/lounge-2.JPG" alt="" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/studio/lounge-2.JPG" alt="" /&gt;</noscript>
    <figcaption><p>A relaxing place to think, read and write.</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 0px; left: 924.75px;">
                            <div class="block image img_loaded ignore-shuffle " style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize" src="/assets/home.png" rel="/assets/setting.png" alt="" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/studio/gav-desk.JPG" alt="" /&gt;</noscript>
    <figcaption style="display: none;"><p>Joshua Tree</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 308.25px; left: 0px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/desert.png" rel="/img/studio/craig-desk.JPG" alt="" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/assets/desert.png" alt="" /&gt;</noscript>
    <figcaption style="display: none;"><p>The desert where creativity happens.</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 308.25px; left: 924.75px;">
                           <a href="google.com">   <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
  <img class="resize ignore-shuffle" src="/assets/graphics.png" alt="3d Modeling" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/assets/apply.png" alt="3d Modeling" /&gt;</noscript>
    <figcaption style="display: none;"><p>3D Modeling</p></figcaption>
</figure>                                                             </div></a>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1233px; left: 0px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/spec.png" rel="/assets/spec.png" alt="" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/assets/spec.png" alt="Spec ops the line in game" /&gt;</noscript>
    <figcaption><p>Conrad in dispare</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 1233px; left: 308.25px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/yaiba.png" rel="/assets/yaiba.png" alt="Yaiba Ninja Gaiden" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/assets/yaiba.png" alt="" /&gt;</noscript>
    <figcaption><p>Some in game action of Yaiba Ninja Gaiden</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1233px; left: 924.75px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/fear.png" rel="/assets/fear.png" alt="Fear Game art" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/assets/fear.png" alt="" /&gt;</noscript>
    <figcaption><p>Another Piece of amazing work</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1541.25px; left: 0px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/spec2.png" rel="/assets/spec2.png" alt="Another Spec ops screen Shot" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/studio/blackboard.JPG" alt="" /&gt;</noscript>
    <figcaption><p>Another Spec ops the line screen shot</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1541.25px; left: 924.75px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/yaiba2.png" rel="/assets/yaiba.png" alt="Yaiba Art" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/assets/yaiba2.png" alt="Some amazing art" /&gt;</noscript>
    <figcaption><p>Some amazing Yaiba Ninja Gaiden Z art</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 1849.5px; left: 0px;">
                            <div class="block image img_loaded ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                                                    <figure class="with-hidden-caption">
    <img class="resize ignore-shuffle" src="/assets/spec3.png" rel="/assets/spec3.png" alt="Spec ops amazing lighting" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/assets/spec3.png" alt="Amazing Lighting" /&gt;</noscript>
    <figcaption><p>Some amazing sand particle and lighting effects in spec ops the line</p></figcaption>
</figure>                                                             </div>
                        </li>
                                            
                                    </ul>
            </div>
        </section><!--/#studio-->

        <section class="team ignore-shuffle" id="team">

            <header class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 2774.25px; left: 0px;">
                <hgroup class="block text-only ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                    <h1>Our team</h1>
                    <h2><em>8</em> Professional Game developers, <em> Looking to</em>Change The world of education  <em>in order to better</em> inspire creativity </h2>
                </hgroup>
            </header>

            <ul>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 2466px; left: 924.75px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle ignore-shuffle" src="/assets/jeff.png" rel="/assets/cory.png" alt="Cory Davis" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                <noscript>&lt;img src="/assets/jeff.png" alt="Jeff Davis" /&gt;</noscript>
                            </a>
                            <h3><a href="#">Jeff Davis</a></h3>
                            <p>Managing Director</p>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 2774.25px; left: 616.5px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle ignore-shuffle" src="/assets/cory.png" rel="/assets/cory.png" alt="Cory Davis" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                <noscript>&lt;img src="/assets/cory.png" alt="Jim Ramsden" /&gt;</noscript>
                            </a>
                            <h3><a href="#">Cory Davis</a></h3>
                            <p>Creative Director</p>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 2774.25px; left: 924.75px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/brad.png" rel="/assets/brad.png" alt="Brad Davis" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                <noscript>&lt;img src="/assets/brad.png" alt="Brad Davis" /&gt;</noscript>
                            </a>
                            <h3><a href="#">Brad Davis</a></h3>
                            <p>Marketing</p>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3082.5px; left: 616.5px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/brandon.png" alt="Brandon Popovich" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                <noscript>&lt;img src="/assets/brandon.png" alt="Brandon Popovich" /&gt;</noscript>
                            </a>
                            <h3><a href="#">Brandon Popovich</a></h3>
                            <p>IT/Unreal Expert</p>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3082.5px; left: 924.75px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/richard.png" rel="/assets/richard.png" alt="Richard" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                <noscript>&lt;img src="/assets/richard.png" alt="Craig Dennis" /&gt;</noscript>
                            </a>
                            <h3><a href="#">Richard</a></h3>
                            <p>Game Writer</p>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3390.75px; left: 0px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/bart.png" rel="img/team/gav.jpg" alt="Bart Jolley" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                <noscript>&lt;img src="/assets/bart.png" alt="Bart Jolley" /&gt;</noscript>
                            </a>
                            <h3><a href="#">Bart Jolley</a></h3>
                            <p>Media Production</p>
                        </figure>
                    </li>
                                    <li class="block-wrap ignore-shuffle" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 3390.75px; left: 308.25px;">
                        <figure class="block team-block ignore-shuffle" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                            <a class="link-block img_loaded ignore-shuffle" href="#">
                                <img class="resize ignore-shuffle" src="/assets/tanisia.png" rel="/assets/tanisia.png" alt="Dan Burrows" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
                                <noscript>&lt;img src="img/team/dan.jpg" alt="Dan Burrows" /&gt;</noscript>
                            </a>
                            <h3><a href="#">Tanisia Davis</a></h3>
                            <p>Finance</p>
                        </figure>
                    </li>
                                    
                            </ul>

        </section><!--/#team-->
        <section class="projects" id="projects">

            <header class="block-wrap ignore-shuffle" data-rowspan="2" data-colspan="2" style="position: absolute; width: 616.5px; height: 616.5px; top: 4932px; left: 0px;">
                <hgroup class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                    <h1>FAQ</h1>
                    <h2>Here are the answers to some comonly asked <em>Questions.</em></h2>
                </hgroup>
            </header>

            <ul>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 4623.75px; left: 924.75px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>Where is the School Located? </br>A: In the heart of <em>Los Angeles</em> </h3>
                    </div>
                </li>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 4932px; left: 616.5px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>What <em>companies hire</em> out of BLOC Academy?</br> A: We have partnerships with companies such as <em>2K, Spark, EA, Monolith</em>, and many more. </h3>
                    </div>
                </li>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 4932px; left: 924.75px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>Can you really learn game development in 9 weeks? </br>Of course not everything! <em> with professional staff</em> with tons of experience in the industry we know exactly what to teach to get you ready.</em></h3>
                    </div>
                </li>

                <li class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 308.25px; height: 308.25px; top: 5240.25px; left: 616.5px;">
                    <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                        <h3>What games have your staff worked on previously?</br><em>Some of the best ever made!</em> Titles such as Spec ops the line, Fear, Yaiba Ninja Gaidin, and many more.</h3>
                    </div>
                </li>

            </ul>

        </section>

        <!--/#What-->

<!--/#How-->



    </div>

		</section>

		<nav class="subnav" style="display: none;">
			
					</nav>

		<div class="jobs"><%= link_to "Apply Today!", apply_path, class: "jobs" %><small>Apply Today!</small></div>

		

		
		<!-- jQuery from Google's CDN with local fallback -->
		</body></html>