
<footer role="contentinfo">

			<div id="contact" itemscope="" itemtype="http://schema.org/Organization">

				<div class="inner">

					<h4><a itemprop="name" href="./somtim_files/somtim.html">Jeffery Davis</a></h4>

					<p><i class=""><img src="/assets/mail.png" /></i><a itemprop="email" href="mailto:jtdavis247@gmail.com">jtdavis247@gmail.com</a></p>

					<p><i class=""><img src="/assets/phone.png" /></i>(208) 346-0803</span></p>

					<p>
						<i class=""><img src="/assets/location.png" /></i>
						<span itemprop="streetAddress">1055 N 1880 W</span>,
						<span itemprop="addressLocality">Provo</span>,
						<span itemprop="addressRegion">Utah</span>,
						<span itemprop="postalCode">84604</span>,
						<abbr itemprop="addressCountry" itemscope="" itemtype="http://schema.org/Country" title="United States">USA</abbr>
				    </p>

				</div>

			</div>

			<p><small>©2013 BLOC Academy</small></p>
			

		</footer>