
<nav role="navigation">

						<ul class="open ">
				    <li><a href="#" class="nav-home current" data-canxfilter=""><i class=""><img src="/assets/home 2.png" /> </i></a></li>
    <li><a href="#" data-filter=".studio"><i class=""><img src="/assets/world.png" /></i><span>Work</span></a></li>
    <li><a href="#" data-filter=".team"><i class=""><img src="/assets/group.png" /></i><span>About</span></a></li>
    <li><a href="#" data-filter=".projects"><i class=""><img src="/assets/help.png" /></i><span>FAQ</span></a></li>
    
			</ul><div class="pull-right"><strong>Jeff Davis Portfolio</strong></div>



			</div></nav>